body {
background-color: #BFEDFF;} 
	a{color: #009933 ;}
a:hover{color: #800000}
h1 {text-align: center; font-family: "Georgia", serif}
h2 {text-align: center ; font-family: "Georgia", serif}
p{font-family: "georiga", serif}
ul{font-family: "georiga", serif} 
a{font-family: "geriga", serif}
ol{font-family: "georgia", serif}
div { width: 320px;
    padding: 10px;
    border: 5px solid gray;
	margin: 0;
h1 {text-align: center; font-family: "Georgia", serif}
h2 {text-align: center ; font-family: "Georgia", serif}}
